
<div class="flex-row al-center jc-center">
  <mat-card *ngIf="character; else loading" class="mb-2 minw-800p">
    <mat-card-header>
      <mat-card-title>{{ character.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-row">
        <img class="img-card" src="assets/images/characters/{{character.id}}.png" alt="">
        <div class="prl-2 flex-column">
          <label class="mb-1">Height : <span>{{ character.height }}</span> </label>
          <label class="mb-1">Mass : <span>{{ character.mass }}</span> </label>
          <label class="mb-1">Hair color : <span>{{ character.hair_color }}</span></label>
          <label class="mb-1">Skin color : <span>{{ character.skin_color }}</span> </label>
          <label class="mb-1">Birth year : <span>{{ character.birth_year }}</span></label>
          <label class="mb-1">Gender  :  <span>{{ character.gender }}</span></label>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>


<div class="flex-row al-center jc-center">
  <button mat-raised-button color="primary" (click)="onBack()">Back</button>
</div>

<ng-template #loading>
  <mat-card class="mb-2 minw-800p">
    <div class="flex-row al-center jc-center minh-480p">
      <img src="assets/images/commons/ico_loader.gif">
    </div>
  </mat-card>

</ng-template>
